@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

/* dark2 */
.text-gray{
  color: #424242;
}
.text-primary{
  color: #FF900E;
}

/* dark3 */
.text-light-gray{
  color: #727272;
  }

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* navbar related styles */
.navbar{
  justify-content: space-between;
  /* jeheto brand er font size 3rem karar por alignment venge gece tai align-item karte hobe. */
  align-items: center;
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner related Styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-content p{
  font-size: 1rem;
  font-weight: 400;
}

.banner-image{
  width: 100%;
}

/*features description start */


/* team and f eatures related styles */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 100px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsor-companies img{
    filter: grayscale(100%); /* Converts image to 100% grayscale */
  }

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
      flex-direction: column;
    } 
    .team-img-container, 
    .facts-container, 
    .sponsor-companies{
      grid-template-columns: repeat(1fr);
    }

    .fact-card, .sponsor-companies{
      justify-content: center;
    }

    .our-features{
      margin-left: 20px;
    }
}

/*Some fact related style */
  .fact-description{
    width: 542px;
    height: 52px;
    font-size: 1rem;
    color: #727272;
    margin-top: 24px;
  }

  .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
  }

  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
  }

/* sponsor related styles */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  

/* medium device size */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
      flex-direction: column;
    }
    .our-features{
      margin: 50px auto;
    }
}